<div id="side-menu">
    <ul>
        <% if(currentUser){ %>
        <a href="/"><li>Home</li></a>
        <a href="/board/"><li>Message Board</li></a>
        <a href="/board/message/new"><li>New post</li></a>
        <a href="/board/message/user"><li>Your Posts</li></a>

        <% }else{%>

        <a href="/sign-up/"><li>Sign Up</li></a>
        <a href="/log-in/"><li>Log In</li></a>

        <%}%>
    </ul>
</div>
