<div id="side-menu">
    <ul>
        <a href="/"><li>Home</li></a>
        <a href="/board/"><li>Board</li></a>
        <a href="/sign-up/"><li>Sign Up</li></a>
        <a href="/log-in/"><li>Log In</li></a>
        <li>
            <form method="POST" action="/log-out/">
                <button class="side-menu-btn" type="submit">logout</button>
            </form>
        </li>
    </ul>
</div>
