<div id="profile">
    <p><% if(currentUser){ %></p>
    <p>Logged in as <%=currentUser.username %></p>
    <form method="POST" action="/log-out/">
        <button class="btn btn-primary" type="submit">logout</button>
    </form>
    <% }else{%>
    <p><a href="/log-in/">Please log in</a></p>
    <%}%>
</div>
