/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* /CSS RESET */

/* Standard Classes */
a {
    color: #966305;
    text-decoration: none;
}

h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 2em;
    padding: 0.3em;
}

h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    padding: 0.3em;
    margin: auto;
}

h3 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 1em;
    padding: 0.3em;
    margin: auto;
}

p {
    font-family: "Nunito Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
        "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 1em;
    padding: 0.3em;
}

/* Document Sections */
body {
    font-family: "Nunito Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
        "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    position: relative;
    font-size: 1.3em;
    z-index: 0;
    background-color: rgb(252, 248, 248);
    color: rgb(20, 20, 20);
}

header {
    color: whitesmoke;
    height: 1.5em;
    background-color: rgb(15, 15, 15);
    border-bottom: 2px solid #966305;
}

main {
    height: 110vh;
    padding: 2em 1em 1em 12em;
}

/* Side Menu */
#side-menu {
    position: fixed;
    z-index: 1;
    top: 5em;
    left: 3em;
    overflow-x: hidden;
}

#side-menu ul li {
    width: 6em;
    padding: 0.7em;
}

#side-menu ul a {
    width: 10em;
    cursor: pointer;
}
#side-menu ul li:hover {
    background-color: burlywood;
}

/* HEADER */
.bar {
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 5px 0;
    background-color: whitesmoke;
}

#menu-opener {
    display: none;
    padding: 0.2em 1.2em;
}

/* Messages */
.messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40em;
    margin: 2em auto 4em 0;
}

.message,
.comment {
    max-width: 30em;
    margin: 0.5em auto;
    padding: 1em;
    border: 1px solid #4d1f9791;
    border-radius: 10px;
    box-shadow: 5px 15px 30px gainsboro;
}

/* Buttons */
.btn {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    color: #966305;
    padding: 0.3em;
    border: 1px solid rgb(126, 122, 119);
    border-radius: 3px;
    cursor: pointer;
}
.btn:hover {
    background-color: #f3b136;
    color: black;
}

/* Forms */
.form {
    padding: 1em;
    margin: 1em;
    background-color: rgba(250, 248, 248, 0.918);
    box-shadow: 5px 15px 30px rgb(212, 208, 208);
    max-width: 12em;
}

.form h1,
.form p,
.message-form h1,
.message-form p {
    text-align: center;
    margin-bottom: 0.5em;
}
form {
    padding-left: 1em;
    margin: auto;
}

label {
    padding: 0.5em;
    margin: 5px auto;
}
input[type="text"],
input[type="password"] {
    height: 1.4em;
}

input[type="text"],
input[type="password"],
textarea {
    padding: 0.2em;
    border-radius: 5px;
    width: 14em;
    margin-bottom: 1em;

    border: 1px solid whitesmoke;
    box-shadow: 1px 1px 1px rgb(212, 208, 208);
}

.message-form {
    padding: 1em;
    margin: 1em;
    background-color: rgba(250, 248, 248, 0.918);
    box-shadow: 5px 15px 30px rgb(212, 208, 208);
    max-width: 20em;
}

.message-form textarea {
    width: 90%;
    font-family: "Nunito Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
        "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    max-width: 28em;
}

.comment-form {
    margin: 4em 1em;
    padding: 0.5em;

    background-color: rgba(250, 248, 248, 0.918);
    box-shadow: 5px 15px 30px rgb(212, 208, 208);
}
.comment-form textarea {
    width: 95%;
}

.comment-form h3 {
    padding-bottom: 1em;
}

/*  */

@media (max-width: 700px) {
    /* fall behind menu on mobile */
    main {
        padding: 1.2em;
    }

    /* hide menu */
    #side-menu ul li {
        width: 10em;
        padding: 0.7em;
    }
    #side-menu {
        top: 2em;
        left: 1em;
        width: 0;
        background-color: rgba(235, 235, 235, 0.918);
        box-shadow: 5px 15px 30px gainsboro;
    }

    .open {
        width: auto !important;
    }
    #menu-opener {
        display: block;
    }
}
