/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* /CSS RESET */

/* Standard Classes */
a {
    color: #966305;
    text-decoration: none;
}

h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 2em;
    padding: 0.3em;
}

h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    padding: 0.3em;
    margin: auto;
}

h3 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 1em;
    padding: 0.3em;
    margin: auto;
}

p {
    font-family: "Nunito Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
        "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    padding: 0.3em;
}

em {
    font-style: italic;
}

/* Document Sections */
body {
    font-family: "Nunito Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
        "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    position: relative;
    font-size: 1.3em;
    z-index: 0;
    background-color: rgb(252, 248, 248);
    color: rgb(20, 20, 20);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: whitesmoke;
    height: 1.5em;
    background-color: #063985f6;
    border-bottom: 2px solid #966305;
}

main {
    /* height: 110vh; */
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Profile */
#profile {
    position: fixed;
    top: 1.7em;
    right: 1em;
    background-color: rgba(230, 224, 224, 0.438);
}

/* Side Menu */
#side-menu {
    position: fixed;
    z-index: 1;
    top: 5em;
    left: 3em;
    overflow-x: hidden;
}

#side-menu ul li {
    width: 6em;
    padding: 0.7em;
}

.side-menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-family: serif;
    font-family: "Nunito Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
        "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    padding-left: 0;
}
.side-menu-btn:focus {
    outline: none;
}
.side-menu-btn:active {
    color: red;
}

#side-menu ul a {
    width: 10em;
    cursor: pointer;
}
#side-menu ul li:hover {
    background-color: burlywood;
}

/* HEADER */
.bar {
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 5px 0;
    background-color: whitesmoke;
}

#menu-opener {
    display: none;
    padding: 0.2em 1.2em;
}

/* Messages */
.messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50em;
    margin: 2em auto 4em 12em;
}

.message-detail {
    max-width: 40em;
    margin: 1em auto 0.3em 12em;
}

.message,
.comment {
    display: flex;
    flex-direction: row;
    max-width: 40em;
    padding: 1em;
}

.comment {
    border: 1px solid #1f4f9791;
    box-shadow: 5px 15px 30px gainsboro;
    margin: 0.3em;
}

.message-content {
    border: 1px solid #1f4f9791;
    box-shadow: 5px 15px 30px gainsboro;
    padding: 1em;
    min-width: 80%;
}

.vote-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vote-content {
    text-align: center;
    border: 1px solid #1f4f973a;
    box-shadow: 3px 5px 10px gainsboro;
}

.upvote-btn {
    border: solid black;
    background-color: transparent;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    cursor: pointer;
}

.upvote-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1em;
}
.upvote-info p {
    font-size: 0.7em;
}

/* Buttons */
.btn {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    border: 1px solid rgb(126, 122, 119);
    border-radius: 3px;
    cursor: pointer;
}
.btn-primary {
    color: #291c05;
    padding: 0.3em;
}

.btn-primary:hover {
    background-color: #f3b136;
    color: black;
}

.upvote-btn:hover {
    border: solid rgb(56, 221, 78);
    border-width: 0 4px 4px 0;
}

.upvote-btn:active {
    padding: 12px;
    border: solid rgb(56, 221, 78);
    border-width: 0 4px 4px 0;
}

.upvoted {
    background-color: rgb(39, 160, 49);
    border: solid rgb(56, 221, 78);
    border-width: 0 4px 4px 0;
}

/* Forms */
.form {
    padding: 1em;
    margin: 1em;
    background-color: rgba(250, 248, 248, 0.918);
    box-shadow: 5px 15px 30px rgb(212, 208, 208);
    max-width: 12em;
}

.form h2,
.form p,
.message-form h2,
.message-form p {
    text-align: center;
    margin-bottom: 0.5em;
}
form {
    padding-left: 1em;
    margin: auto;
}

label {
    padding: 0.5em;
    font-size: 0.6em;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    margin: 5px auto;
}
input[type="text"],
input[type="password"] {
    height: 1.4em;
}

input[type="text"],
input[type="password"],
textarea {
    padding: 0.2em;
    border-radius: 5px;
    width: 15em;
    margin-bottom: 1em;

    border: 1px solid whitesmoke;
    box-shadow: 1px 1px 1px rgb(212, 208, 208);
}

.message-form {
    padding: 1em;
    margin: 1em;
    background-color: rgba(250, 248, 248, 0.918);
    box-shadow: 5px 15px 30px rgb(212, 208, 208);
    width: 53%;
    max-width: 40em;
}
.message-form input[type="text"] {
    width: 60%;
}
.message-form textarea {
    width: 95%;
    font-family: "Nunito Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
        "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.comment-form {
    margin: 4em 1em;
    padding: 0.5em;

    background-color: rgba(250, 248, 248, 0.918);
    box-shadow: 5px 15px 30px rgb(212, 208, 208);
}
.comment-form textarea {
    width: 95%;
}

.comment-form h3 {
    padding-bottom: 1em;
}

.error {
    font-size: 0.7em;
    color: red;
    padding: 0.2em 1.3em;
}

/*  */

@media (max-width: 700px) {
    /* fall behind menu on mobile */
    main {
        padding: 1.2em;
    }

    header {
        justify-content: space-between;
    }

    /* hide menu */
    #side-menu ul li {
        width: 10em;
        padding: 0.7em;
    }
    #side-menu {
        top: 2em;
        left: 1em;
        width: 0;
        background-color: rgba(235, 235, 235, 0.918);
        box-shadow: 5px 15px 30px gainsboro;
    }

    .open {
        width: auto !important;
    }
    #menu-opener {
        display: block;
    }
    .messages,
    .message-detail {
        margin: auto;
    }
    .message {
        flex-direction: column;
    }
}
