/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* /CSS RESET */

/* Standard Classes */
a {
    color: #966305;
    text-decoration: none;
}

h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 2em;
    padding: 0.3em;
}

h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    padding: 0.3em;
}

h3 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 1em;
    padding: 0.3em;
}

p {
    font-family: "Nunito Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
        "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 1em;
    padding: 0.3em;
}

/* Document Sections */
body {
    font-family: "Nunito Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
        "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    position: relative;
    font-size: 1.3em;
    z-index: 0;
    background-color: rgb(252, 248, 248);
}

header {
    color: whitesmoke;
    height: 1.5em;
    background-color: rgb(15, 15, 15);
    border-bottom: 2px solid #966305;
}

main {
    height: 200vh;
    padding: 2em 1em 1em 12em;
}

/* Side Menu */
#side-menu {
    position: fixed;
    z-index: 1;
    top: 5em;
    left: 3em;
    overflow-x: hidden;
}

#side-menu ul li {
    width: 6em;
    padding: 0.7em;
}

#side-menu ul a {
    width: 10em;
    cursor: pointer;
}
#side-menu ul li:hover {
    background-color: burlywood;
}

/* HEADER */
.bar {
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 5px 0;
    background-color: whitesmoke;
}

#menu-opener {
    display: none;
    padding: 0.2em 1.2em;
}

/* Buttons */

/* Forms */

/*  */

@media (max-width: 700px) {
    /* fall behind menu on mobile */
    main {
        padding: 1.2em;
    }

    /* hide menu */
    #side-menu ul li {
        width: 10em;
        padding: 0.7em;
    }
    #side-menu {
        top: 2em;
        left: 1em;
        width: 0;
        background-color: rgba(235, 235, 235, 0.918);
        box-shadow: 5px 15px 30px gainsboro;
    }

    .open {
        width: auto !important;
    }
    #menu-opener {
        display: block;
    }
}
